<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Pet Groomers</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    
    <nav class="navbar navbar-expand-lg bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'home' %}">Pet Groomers</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            {% if request.user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link disabled">Welcome {{request.user.username}}</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'logout' %}">Logout</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'appointment' %}">Book an Appointment</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{% url 'register_pet' %}">Add your pet or pets!</a>
            </li>
            {% else %}
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{% url 'register_customer' %}">Register Now!</a>
            </li>
            {% endif %}
            <!--<li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">About Us</a>
            </li> -->
            <li class="nav-item">
              <a class="nav-link disabled">For Questions, Give us a call or text at 099999696969</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    


  </head>
  <body>
    <h1>Welcome To Pet Groomers</h1>
    <hr/>

    <div>
      {% for data in dataset %}

      <strong>{{data.service_offered}}</strong>
      <br/>
      <br/>
      {{data.service_description}}
      <br/>
      <h4>{{data.service_price}}PHP</h4>
      <hr/>
      {% endfor %}
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% block content %}



    {% endblock content %}
    
    <style>
* {
  box-sizing: border-box;
}

/* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 50%;
  padding: 10px;
  height: 300px; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
</style>
    <hr/>
    <h3>About Us</h3>
    <div class="row">
      <div class="column" style="background-color:#aaa;">
      <h2>What times are you open?</h2>
      <p>We are open from 8am to 6pm</p>
    </div>
    <div class="column" style="background-color:#bbb;">
      <h2>What method are used for payment?</h2>
      <p>You can give cash over the counter or with Gcash for the sake of convenience and lessen the spread of the covid.</p>
    </div>
</div>
  
  </body>
</html>
