{% extends 'base.html' %}

{% block content %}

{% if request.user.is_authenticated %}
    {% if request.user == page_user.user %}
    <h3>Welcome to your profile {{page_user.user}}</h3>

    <p>Personal Information</p>
    Legal name: {{page_user.f_name}} {{page_user.l_name}}

    Age: {{page_user.age}}
    </br>
    PhoneNumber:{{page_user.phone_number}}
    </br>
    Adress{{page_user.home_adress}}
    <br/>
    <br/>

    <p>Pet Information</p>
    <strong>PetName:</strong> {{page_user.pet_name}}
    </br>
    <strong>PetAge:</strong>{{page_user.pet_age}}
    </br>
    <strong>PetBreed:</strong>{{page_user.pet_breed}}
    </br>
    {% else %}
    <h1> You dont Belong here </h1>
    {% endif %}

{% else %}
<h1> You Arent logged in </h1>
<p><a href="{% url 'customer-login' %}">Login</a> first Before adding your profile</p>
{% endif %}


{% endblock content %}